{% extends "base.html" %}

{% block content %}

<!-- GOOGLE PLUS SIGN IN BUTTON-->





<div id="signInButton">

</div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
          setTimeout(function() {
            window.location.href = "/restaurant";
          }, 4000);

        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }

    }); } }
    </script>



    <div class="section"></div>
    <main>
      <center>
        <div class="section"></div>

        <h5 class="indigo-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container">
          <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">



            <br />
            <center>
              <div class='row'>
                <div id="signInButton">
                  <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>
                    <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="559662263555-nv2vbv28kd7ieq2gdkagp9ipju7fcu88.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                    Login
                  </span>
                </button>
              </div>
            </div>
          </center>
      </div>
    </div>
    <a href="#!">Create account</a>
  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>






{% endblock %}
