{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
  {% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="row">

    {% for restaurant in restaurants %}

    <div class="card blue darken-1 center-align col s4">
      <div class="card-content white-text hoverable">
        <span class="card-title">{{restaurant.name}}, User ID: {{restaurant.user_id}}</span>
        <a class="blue darken-4 waves-effect waves-light btn" href="{{url_for('showRestaurantMenu', restaurant_id=restaurant.id) }}">Menu</a>
        <div class="card-action">
          <a href="{{url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit Item</a>
          <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>





{% endblock %}
